<%
	topnav = [
	#	{id: 'about', text: 'About IPACS', url: '/'},
		{id: 'index', text: 'Main page', url: '/'},
		{id: 'scope', text: 'Aims and Scope', url: '/scope'},
	#	{id: 'sections', text: 'Sections', url: '/sections'},
		{id: 'editorial', text: 'Editorial Board', url: '/editorial'},
		{id: 'forauthors', text: 'Author Information', url: '/forauthors'},
		{id: 'submit', text: 'Submit Online', url: '/submit'},
		{id: 'read', text: 'Read Online', url: '/read'},
		{id: 'contacts', text: 'Contacts', url: '/contacts'}
	]
%>
<div class='nav_column'>
<div class='nav'>
	<ul>
<% topnav.each do |elm| %>
	<% if elm[:id]==@page_id %>
		<li><a href="<%= elm[:url]%>" class="current"><strong><%= elm[:text] %></strong></a></li>
	<% else %>
		<li><a href="<%= elm[:url]%>"><%= elm[:text] %></a></li>
	<% end %>
<% end %>
	</ul>
</div>
<div class="nav">
	<ul>
		<li class="pdf"><a href="/cap/CAPjournalinfo.pdf">CAP Flyer</a></li>
	</ul>
</div>
</div>

