
-content_for :page_title, 'About CAP Journal'
-content_for :page_id, 'about'

-set_content_for :content do
 .page
  %h2 About CAP Journal
  .page-body

   %br
   %br
 
-render :file => 'cap/layout'

