
-content_for :page_title, 'Contacts'
-content_for :page_id, 'contacts'

-set_content_for :content do
 .page
  %h2 Contacts
  .page-body
   %b Editorial Office
   %p
    Institute for Problems of Mechanical Engineering
    %br
    Russian Academy of Sciences
    %br
    Bolshoy ave. 61, V.O., St. Petersburg 199178, Russia) 
    %br
    E-mail: cap@physcon.ru  Fax: +7(812)321 4771

-render :file => 'cap/layout'

