
-content_for :page_title, 'CAP Editorial board'
-content_for :page_id, 'editorial'

-set_content_for :content do
 .page
  %h2 CAP Editorial board
  .page-body
   %p

   %br
   %br

-render :file => 'cap/layout'

