
-content_for :page_title, 'CAP Editorial Board'
-content_for :page_id, 'editorial'

-set_content_for :content do
 .page
  %h2 CAP Editorial Board
  .page-body
   %p
    Under Construction
   %br
   %br

-render :file => 'cap/layout'

