
-content_for :page_title, 'Instructions for Authors'
-content_for :page_id, 'forauthors'

-set_content_for :content do
 .page
  %h2 Instructions for Authors
  .page-body
   %p
    Under Construction

   %br
   %br
 
-render :file => 'cap/layout'

