
-content_for :page_title, 'Caps Journal main page'
-content_for :page_id, 'index'

-set_content_for :content do
 .page
  %h2 CAP Journal main page
  .page-body
   -#.cover= image_tag 'cap/cap_cover_s2.png', alt: 'Cover'
   -#%img.cover{src: 'assets/cap/cap_cover_s2.png', alt: 'Cover'}
   .cover
    -#%img{src: 'cap/cap_cover_s2.png', alt: 'Cover'}
    %img{src: 'cap/cap_cover_2012_1_s.png', alt: 'Cover'}
   %p
    Journal  Cybernetics and Physics (CAP)  is published under umbrella of  the International Physics and Control Society (IPACS).
    The scope of the journal includes all areas related to Cybernetics and Physics.
   %p
    Prospective authors are invited to submit high quality papers on applications of cybernetic methods to physical sciences and technologies. The papers in cybernetics with physical flavor as well as the papers in physics with cybernetic flavor are welcome.
   %p
    Frequency: 4 issues per year
    %br
    ISSN 2226-4116 (Online), ISSN 2223-7038 (Print)

-render :file => 'cap/layout'

