
-set_content_for :site_id, 'cap'

-set_content_for :content do
 %div.site
  .title
   -#%h1 CAP Journal
   %h1 Cybernetics and Physics Journal (ISSN 2223-7038)
  -@page_id = content_for :page_id
  =render 'cap/nav'
  -#render 'cap/ga'

  = yield :content
 -#%div.page= yield :content

