
-content_for :page_title, 'Read Online'
-content_for :page_id, 'read'

-set_content_for :content do
 .page
  %h2 Read Online
  .page-body
   %p
    Under Construction

   %br
   %br
 
-render :file => 'cap/layout'

