
-content_for :page_title, 'Read Online'
-content_for :page_id, 'read'

-set_content_for :content do
 .page
  %h2 Read Online
  .page-body
   %p
    Read CAP Journal in
    %a{href: 'http://lib.physcon.ru/doc?id=29e59dce4f11'} IPACS Electronic library
   -#%p
    Under Construction

   %br
   %br
 
-render :file => 'cap/layout'

