
-content_for :page_title, 'Aims and Scope'
-content_for :page_id, 'scope'

-set_content_for :content do
 .page
  %h2 Aims and Scope
  .page-body
   %p
    The scope of the journal includes:
    %ul
     %li Nonlinear dynamics and control 
     %li Complexity and self-organization
     %li Control of oscillations
     %li Control of chaos and bifurcations
     %li Control in thermodynamics 
     %li Control of flows and turbulence
     %li Information Physics
     %li Modeling and identification of physical systems 
     %li Quantum information and control
     %li Analysis and control of complex networks
     %li Synchronization of systems and networks
     %li Control of mechanical and micromechanical systems
     %li Dynamics and control of plasma, beams, lasers, nanostructures
     %li Applications of cybernetic methods in chemistry, biology, other natural sciences
   %p
    The papers in cybernetics with physical flavor as well as the papers in physics with cybernetic flavor are welcome. Cybernetics is assumed to include, in addition to control, such areas as estimation, filtering, optimization, identification, information theory, pattern recognition and other related areas.
   -#%p
    The scope of the journal includes  nonlinear dynamics and control; quantum information and control; control of oscillations, chaos and bifurcations; control in thermodynamics; modeling and identification of physical systems; complexity and self-organization; analysis and control of complex networks; network and systems synchronization; control of plasma, beams, lasers, mechanical and micromechanical systems and nanotechnologies as well as other related applications in science and technology.
   -#%p
    The papers in cybernetics with physical flavor as well as the papers in physics with cybernetic flavor are welcome. Cybernetics is assumed to include, in addition to control, such areas as estimation, filtering, optimization, identification, information theory, pattern recognition, etc.
 
-render :file => 'cap/layout'

