
-content_for :page_title, 'Aims and Scope'
-content_for :page_id, 'scope'

-set_content_for :content do
 .page
  %h2 Aims and Scope
  .page-body
   %p
    Under Construction

   %br
   %br
 
-render :file => 'cap/layout'

