
-content_for :page_title, 'Aims and Scope'
-content_for :page_id, 'scope'

-set_content_for :content do
 .page
  %h2 Aims and Scope
  .page-body
   %p
    The scope of the journal includes  nonlinear dynamics and control; quantum information and control; control of oscillations, chaos and bifurcations; control in thermodynamics; modeling and identification of physical systems; complexity and self-organization; analysis and control of complex networks; network and systems synchronization; control of plasma, beams, lasers, mechanical and micromechanical systems and nanotechnologies as well as other related applications in science and technology.
   %p
    The papers in cybernetics with physical flavor as well as the papers in physics with cybernetic flavor are welcome. Cybernetics is assumed to include, in addition to control, such areas as estimation, filtering, optimization, identification, information theory, pattern recognition, etc.
 
-render :file => 'cap/layout'

