
-content_for :page_title, 'Sections'
-content_for :page_id, 'sections'

-set_content_for :content do
 .page
  %h2 Sections
  .page-body
   %ul
    %li Nonlinear dynamics and control 
    %li Complexity and self-organization
    %li Control of oscillations
    %li Control of chaos and bifurcations
    %li Control in thermodynamics 
    %li Control of flows and turbulence
    %li Information Physics
    %li Modeling and identification of physical systems 
    %li Quantum information and control
    %li Analysis and control of complex networks
    %li Synchronization of systems and networks
    %li Control of mechanical and micromechanical systems
    %li Dynamics and control of plasma, beams, lasers, nanostructures
    %li Applications of cybernetic methods in chemistry, biology, other natural sciences

-render :file => 'cap/layout'

