
-content_for :page_title, 'Submit Online'
-content_for :page_id, 'submit'

-set_content_for :content do
 .page
  %h2 Submit Online
  .page-body
   %p
    Under Construction

   %br
   %br
 
-render :file => 'cap/layout'

