
-content_for :page_title, 'Submit Online'
-content_for :page_id, 'submit'

-set_content_for :content do
 .page
  %h2 Submit Online
  .page-body
   %p
    Submit your paper via IPACS online
    %a{href: 'http://coms.physcon.ru/conf/12/'} submission system
 
-render :file => 'cap/layout'

