
-set_content_for :site_id, 'admin'

-set_content_for :content do
 %div.site
  .title
   -#%h1 CAP Journal
   %h1 Admin
  -@page_id = content_for :page_id
  =render 'admin/nav'

  = yield :content
 -#%div.page= yield :content

-add_to_list :js, 'admin.js'

