
-content_for :page_title, 'IPACS main page'
-content_for :page_id, 'index'

-set_content_for :content do
 .page
  -#%h2 IPACS Main page
  .page-body
   .main-page
    .row
     .block
      .title
       %a{href: 'http://physcon.ru/news'}
        %b Latest News
      .body
       .list
        -@news_list.each do |row|
         .item
          %a{href: "http://physcon.ru/news\#news_#{row['newsid']}"}
           &= row['title']
     .block
      .title
       %a{href: 'http://coms.physcon.ru'}
        %b Conference Management System
        -#%b CoMS
      .body
       -#.subtitle Open Conferences
       -if @open_conf_list.length > 0
        .list
         -@open_conf_list.each do |row|
          .item
           %a{href: "http://coms.physcon.ru/conf/#{row['contid']}/"}
            &= row['title']
       -else
        No open conferences
     .block
      .title
       %a{href: 'http://cap.physcon.ru'}
        %b CAP Journal
      .body
       .list
        .item
         %a{href: 'http://cap.physcon.ru/submit'} How to Submit
        .item
         %a{href: 'http://cap.physcon.ru/read'} How to Read
     .block
      .title
       %a{href: 'http://lib.physcon.ru'}
        %b Electronic Library
      -#.body
       .list
        .item
         %a{href: 'http://lib.physcon.ru/?item=1'} Open Library
        .item
         %a{href: 'http://lib.physcon.ru/?item=2'} Closed Library
       -#.subtitle Open Conferences
     -#.clear

-render :file => 'ipacs/layout'

