
-set_content_for :site_id, 'ipacs'

-set_content_for :content do
 %div.site
  .title
   %h1 International Physics and Control Society (IPACS)
  -@page_id = content_for :page_id
  =render 'ipacs/nav'

  = yield :content
 -#%div.page= yield :content

