
-content_for :page_title, 'Membership'
-content_for :page_id, 'membership'

-set_content_for :content do
 .page
  %h2 IPACS Membership
  .page-body
   %p The Society members may be researchers, engineers, teachers or students who are interested in any aspect of the theory and applications related to both Physics and Control. Any member should contribute to the Society Electronic Library (Archive) located on the Society website. To be included into the Society Archive, the paper should receive at least two positive reviews from Society members or external experts.
   %p
    To become a member, one needs to register, to submit a paper and to confirm acceptance of the IPACS Regulations. The membership certificate will be sent as soon as two positive reviews are received. To submit a paper the Society conference management system COMS is to be used: go to
    %a{href: "http://coms.physcon.ru", target: '_blank'} coms.physcon.ru
    \.
   %p Authors of all papers accepted to the IPACS sponsored or co-sponsored conferences (particularly, all Physcon 2007 and Physcon 2005 authors) are eligible to become members without submitting other papers. Eligible individuals are invited to join IPACS by the following procedure:
   %ul
    %li enter COMS at <a href="http://coms.physcon.ru" target=_blank>coms.physcon.ru</a> (your login and password are required);
    %li go to the page IPACS membership;
    %li
     confirm your wish to become an IPACS member and acceptance of the IPACS Regulations by ticking the box and pressing the button
     %b "Submit"
     \.
   %p
    You will receive your membership certificate in a few weeks. The IPACS Regulations can be accessed 
    %a{href: "regulations.html"}< here
    \.
   %p Any member will have access to the Society Closed Archive, available only to the Society members.
   %p Currently, there will be no membership fees for individual members. To become an institutional member an agreement between the prospective member institute and the Board shall first be settled. Interested institutions and companies are advised to contact the IPACS Board at ipacs_at_physcon.ru.

 
-render :file => 'ipacs/layout'

