
-content_for :page_title, 'IPACS News'
-content_for :page_id, 'news'

-set_content_for :content do
 .page
  %h2 IPACS News
  .page-body
   -#%p= Physcon::App.model.pg.inspect
   .news-list
    -@data.each do |row|
     .news-item
      %a{name: "news_#{row['newsid']}"}
      -time = DateTime.parse(row['addtime']).strftime('%d.%m.%Y')
      .time= time
      .title
       %b= row['title']
      .content!= row['content']
      -#.time= row['addtime']
      -#.body= row

 
-render :file => 'ipacs/layout'

