
$bgcolor: white;
$textcolor2: rgb(75,0,130); //indigo
//$textcolor2: rgb(139,0,255); //purple
//$textcolor2: rgb(130,75,0); //brown
//$textcolor2: rgb(49,0,98); //dark indigo
//$textcolor2: rgb(75,0,130); //indigo
//$textcolor2: rgb(18,10,143); // Ultramarine
//$textcolor2: rgb(8,37,103); // Dark sapphire
$textcolor2: rgb(0,15,137); // Phthalocyanine Blue
//$textcolor2: rgb(0,0,128); // Blue
$textcolor: rgb(0,0,0);
@mixin font1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
@mixin font2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
body.any {
	//* { zoom: 1; }
	div { zoom: 1; }
	margin: 0 5% 0 5%;
	background-color: $bgcolor;
	color: $textcolor;
	@include font1;
	font: {
		size: 12pt;
	}
	.top {
		background-color: $textcolor;
		.nav {
			font: { size: 0.8em; }
			//zoom: 1;
			float: left;
			ul {
				margin: 0;
				padding: 0;
				float: left;
				//zoom: 1;
				li {
					display: inline;
					a {
						float: left;
						//zoom: 1;
						color: $bgcolor;
					//	background-color: $textcolor;
						text-decoration: none;
					//	padding: 1em 1em 1em 1em;
						padding: 0.8em 0.8em 0.8em 0.8em;
					}
					a:hover, a.current {
						background-color: $textcolor2;
					}
				}
			}
		}
	}
//	/*
	> .site {
		> .title {
			border-bottom: 2px solid $textcolor2;
		//	margin-bottom: 0.4em;
			margin-bottom: 0.5em;
			padding: 0.3em 0;
		//	padding: 0.4em 0;
			h1 {
			//	margin: 0.3em 0;
				margin: 0 0;
				color: $textcolor2;
			}
		}
		> .page {
			h2 {
				//margin: 0 0;
				margin: 0 0;
				margin-bottom: 0.3em;
			//	border: 1px solid red;
			//	color: $textcolor2;
			}
			> .page-body {
				p {
					margin: 0.6em 0 0.6em 0;
				}
			}
		}
		h1, h2, h3, h4, h5, h6 {
			letter-spacing: 0.1em;
			font-family: Georgia, "Times New Roman", Times, serif;
		}
		h1 {
			font: { size: 1.6em; }
		}
		h2 {
			font: { size: 1.4em; }
		}
		h3 {
			font: { size: 1.2em; }
		}
		h4 {
			font: { size: 1em; }
		}
		h5 {
			font: { size: 0.8em; }
		}
		h6 {
			font: { size: 0.6em; }
		}
		a {
			color: $textcolor2;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		.nav_column {
			float: right;
			margin-bottom: 0.2em;
			.nav {
			//	float: right;
				color: $bgcolor;
				background-color: $textcolor;
				margin-left: 0.6em;
				//margin-bottom: 0.2em;
				margin-bottom: 0;
				ul {
					margin: 0;
					padding: 0;
					li {
						list-style: none;
						width: auto;
						a {
							display: block;
							color: $bgcolor;
							text-decoration: none;
							padding: 0.5em 1em;
							font: { size: 0.8em; }
						}
						a:hover, a.current {
							background-color: $textcolor2;
						}
					}
					li.pdf {
						padding-left: 0.5em;
						a {
							padding-left: 24px;
							background: url(/fileicons/pdf.png) no-repeat 0px center;
							//background: url(/assets/fileicons/pdf.png) no-repeat 95% center;
						}
						a:hover {
							background-color: $textcolor2;
						}
					}
				}
			}
		}
	}
//	*/
	.bottom {
		clear: both;
		border-top: 2px solid $textcolor2;
		margin-top: 1em;
		padding: 0.3em 0;
		@include font2;
		a {
			color: $textcolor2;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		.copy {
			opacity: 0.6;
			font: { size: 0.8em; }
		}
	}
}

