
///*
$bgcolor: white;

//$textcolor2: rgb(75,0,130); //indigo
//$textcolor2: rgb(18,10,143); // Ultramarine
//$textcolor2: rgb(8,37,103); // Dark sapphire
$textcolor2: rgb(0,15,137); // Phthalocyanine Blue
//$textcolor2: rgb(0,0,128); // Blue
//$textcolor2: rgb(0,128,128);
//$textcolor2:gb(255,36,0);

$textcolor: rgb(0,0,0);
//$textcolor: rgb(137,121,0);
//$textcolor: rgb(16,137,0);
//$textcolor: rgb(96,100,137);

@mixin font1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
@mixin font2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
body.lib {
	.clear {clear: both;}
	background-color: $bgcolor;
	color: $textcolor;
	.top {
		background-color: $textcolor;
		.nav {
			ul {
				li {
					a {
						color: $bgcolor;
					}
					a:hover, a.current {
						background-color: $textcolor2;
					}
				}
			}
		}
	}
	> .site {
		> .title {
			h1 {
				color: $textcolor2;
			}
		}
		> .page {
			> .index_page {
				> .top_dirs {
					padding: 0.8em 0 0em 0;
					> .wrap {
						text-align: center;
						width: 49%;
						float: left;
						> .block {
							width: auto;
							margin: auto;
							display: inline-block;
							.link { font-size: 1.2em; }
							.info { font-size: 0.8em; }
						}
					}
				}
				> .text_after {
					font-size: 0.8em;
					text-align: center;
					padding: 1em 0 0 0;
				}
			}
		}
		> .doc_page {
			.info {
				.title {
					@include font2;
					font: {
						//size: 160%;
						weight: bold;
					}
					margin: 0.8em 0 0.8em 0;
					text-align: center;
				}
				.subtitle {
					@include font1;
				//	font: {
						//size: 160%;
						//weight: bold;
				//	}
					margin: 0.8em 0 0.8em 0;
					text-align: center;
				}
				.authors {
					@include font2;
					font: {
						//size: 80%;
						size: 0.8em;
						weight: bold;
					}
					margin: 0.8em 0 0.8em 0;
					text-align: center;
				}
				.abstract {
					@include font1;
					//font: {
						//size: 100%;
						//weight: bold;
					//}
					margin: 0.8em 0 0.8em 0;
				}
			}
			.children {
				li {
					margin: 0em 0 0.2em 0;
					.title {
						@include font2;
					//	font: {
							//size: 160%;
						//	weight: bold;
					//	}
						//margin: 0.8em 0 0.8em 0;
						//text-align: center;
					}
					.subtitle {
						font-size: 0.8em;
					}
					.authors {
						@include font2;
						font: {
							//size: 80%;
							size: 0.8em;
							weight: bold;
						}
						//margin: 0.8em 0 0.8em 0;
						//text-align: center;
					}
				}
			}
		}
		a {
			color: $textcolor2;
		}
		.nav {
			color: $bgcolor;
			background-color: $textcolor;
			ul {
				li {
					a {
						color: $bgcolor;
					}
					a:hover, a.current {
						background-color: $textcolor2;
					}
				}
			}
		}
	}
	.bottom {
		border-top: 2px solid $textcolor2;
		a {
			color: $textcolor2;
		}
	}
}

//*/

