
-content_for :page_title, 'IPACS Electronic Library'
-content_for :page_id, 'index'

-set_content_for :content do
 .page
  -#%h2 The IPACS Library
  .index_page
   -#.search_link
    %a{href: "search"} Search
   -#.search
    %form
     %input{type: 'text', name: 'q', value: '', style: 'width: 50%'}
     %input{type: 'submit', value: 'Search'}
   .top_dirs
    .wrap
     .block
      .link
       %b
        -#%a{href: 'http://lib2.physcon.ru/doc?id=c00b56e56e8d'} Conferences
        -#%a{href: 'http://lib2.physcon.ru/doc?id=b80d5dcef9f3'} Conferences
        %a{href: '/doc?id=b80d5dcef9f3'} Conferences
        proceedings
      .info
       %i
        See
        %a{href: 'http://conf.physcon.ru/'} conferences list
        for extra information about past and future IPACS conferences.
       -#%i
        To participate in IPACS conferences see 
        %span
        %a{href: 'http://conf.physcon.ru/'}>< conferences list
        \.
    .wrap
     .block
      .link
       %b
        %a{href: '/doc?id=29e59dce4f11'} CYBERNETICS AND PHYSICS Journal
      .info
       %i
        See
        %a{href: 'http://cap.physcon.ru/'} journal site
        for more information.
     -#.block
      .link
       %b
        %a{href: '/doc?id=29e59dce4f11'} CAP Journal
        publications
      .info
       %i
        See
        %a{href: 'http://cap.physcon.ru/'} journal site
        for more details.
    -#.clear
   .clear
   .search
    %form{action: 'search'}
     %input{type: 'text', name: 'q', value: '', style: 'width: 50%'}
     %input{type: 'submit', value: 'Search'}
   .text_after Comments and suggestions can be sent to ipacs_at_physcon.ru 


-render :file => 'lib/layout'


